/*Fontes*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
body{
    color: #F9F9F9;
}
header{
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
    height: 240px;
}
/*header*/
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.conteudo_logo{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 41px 0 73px 0;
}
.logo{
    font-family: 'Lexend Deca', sans-serif;
    align-items: center;
    color:#FFFFFF;
    font-size: 24px;
    font-weight: 400;
}
.logo_blog{
    font-family: 'Lexend Deca', sans-serif ;
    align-items: center;
    color:#FFFFFF;
    font-size: 24px;
    font-weight: 400;
}
input{
    width: 100%;
    height: 65px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    color: #FFFFFF;
    position: relative;
    padding-left: 64px;
}
input::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.5;
}
label::before {
    content: '';
    background-image: url(img/lupa.svg);
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 19px 0 0 19px;
}

/*section-conteudo*/
section{
    margin: 100px 0;
}

article{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: 195px;
    top: 60px;
    color: #1A202C;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
}

article:nth-child(1n) {
    margin-bottom: 50px;
}

.data{
    color: #717171;
    margin: 23px 0 0 24px;
}
.coracao{
    justify-self: end;
    margin: 23px 27px 0 0;
}

.titulo {
    color: #1A202C;
    grid-column: 1/3;
    margin-left: 25px;
}
.paragrafo{
    color:#717171;
    grid-column: 1/2;
    margin-left: 25px;
}