/*resete*/
*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style: none;
}
body{
    max-width: 1440px;
}
/*menu*/
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#FFFFFF;
}
.logo_titulo{
    position: relative;
    width: 70px;
    height: 30px;
    left: 165px;
    top: 20px;
    color: #293145;
    font-weight: 600;
    font-size: 1.5rem;
}