/*resete*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background:#F7C7B9;
}
/*container*/
.container {
    max-width: 1140px;
    margin: auto;
}
.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 10vh;
    
}