/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none
}

/*desconto*/
.desconto{
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    background: #181818;
}
.desconto_p{
    color: #F9F9F9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
/*Logo Jordan*/
.logo{
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    background: #F9F9F9;;
}
.logo_jordan{
    color: #181818;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/*Loja Jordan header*/
.loja_jordan{
    width:100%;
    height: 378px;
    background-image: url(img/capa.svg);
}