/*resete*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

/*Header e section*/
header{
    background: #F7C7B9;
}
section{
    background: #F7C7B9;
}
/*Header navbar*/
.container{
    display:flex;
    
}
