*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
     background-image: url(img/fon.svg);
     width: 100%;
}
/*header logo*/
.header_logo{
    display: flex;
    justify-content:space-between;
}